<div class='footer'>
  <div class='footer-contents'>
    <div class='helpwe-details'>
      <h2 class='footer-content-head'>HelpWe!について</h2>
      <ul>
        <li><%= link_to '会社概要', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='helpwe-details'>
      <h2 class='footer-content-head'>サービス</h2>
      <ul>
        <li><%= link_to 'メンター一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'チケット一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='helpwe-details'>
      <h2 class='footer-content-head'>HelpWe!</h2>
      <ul>
        <li><%= link_to 'ガイド', "#", class: "footer-link" %></li>
        <li><%= link_to '利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© HelpWe!</p>
</div>